<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Image Classification</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.png" />
    <!-- Add icon library for social buttons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

 <body>
    <header>
      <div class="container">
        <h1>Image Classification - Horse VS Human</h1>
      </div>
    </header>

    {% block content %}
    {% endblock %}

 </body>

<footer>
       <div style="text-align: center; padding-top: 23px;">
            <a href="https://www.linkedin.com/in/mariagrandury/"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/magrandury"><i class="fa fa-github"></i></a>
            <a href="mailto: mariagrandury@gmail.com"><i class="fa fa-envelope"></i></a>
       </div>
        <div style="text-align: center;padding: 23px;">Copyright © Maria Grandury 2020</div>
</footer>

</html>